<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://twin-jokers.com/changing-job">Developer Blog</a>
      by <a href="https://twin-jokers.com">Twins Blog</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "about", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
